.card{
    display: flex; /*y-axis display*/
    flex-direction: column;
    background-color: white;
    list-style-type: none;
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.card__image{
    height: 282px;
    width: 282px;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}

.card__description{
    display: flex;
    color: black;
    padding: 25px 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
}

.card__title{
    max-width: 193px;
    margin: 0;
    color: black;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
}

.card__like-button {
    background: transparent url(../images/like-button.svg) center no-repeat;
    width: 21px;
    height: 18px;
    border: none;
    transition: transform 0.3s ease;
    flex-shrink: 0;
}
  
.card__like-button:hover {
    transform: scale(1.2);
    opacity: 100%;
    cursor: pointer;
}