.footer{
    margin: 67px auto;
}

.footer__copyright{
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    color:#545454;
    font-size: 18px;
    margin: 0;
}

@media screen and (max-width: 680px) {
  .footer {
    max-width: 282px;
    margin-top: 40px;
    margin-left: 19px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
    padding: 48px 0 36px 19px;
    margin: 0;
  }
}


@media screen and (max-width: 320px) {
    .footer {
      max-width: 282px;
      margin: 0;
    }
  
    .footer__copyright {
      font-size: 14px;
      line-height: 16.94px;
      padding: 48px 0 36px 19px;
      margin: 0;
    }
  }
