.footer{
    margin: 67px auto;
}

.footer__copyright{
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    color:#545454;
    font-size: 18px;
    width: 318px;
    height: 18px;
}

@media screen and (max-width: 680px) {
    .footer {
      max-width: 282px;
      height: 14px;
      margin: 48px auto;
    }
  
    .footer__copyright {
      font-size: 14px;
      line-height: 16.94px;
    }
  }
