.footer {
  max-width: 318px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  padding: 0 0 60px;
}

.footer__copyright {
  color: #545454;
  margin: 0;
  padding: 67px 0 60px;;
  width: 318px;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 680px) {
  .footer {
    max-width: 282px;
    padding-bottom: 36px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}