.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    padding: 0 19px;
    display: flex;
    font-family: "Inter", Arial, sans-serif;
    transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_opened {
    opacity: 1;
    visibility: visible;
}

.modal__close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: -45px;
    right: -45px;
    height: 40px;
    width: 40px;
    background-image: url("../images/close-button.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  
.modal__content {
    position: relative;
    padding: 34px 36px 36px;
    background-color: #fff;
    color: #000;
    font-family: "Inter", Arial, sans-serif;
    margin: auto;
    border-radius: 10px;
    max-height: 330px;
    max-width: 430px;
}
  
.modal__content-preview{
    background: none;
    max-width: 80vw;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;
    width: auto;
    height: auto;
}
  
.modal__heading {
    color: #000;
    font-size: 24px;
    font-weight: 900;
    height: 23px;
    width: 330px;
    margin: 0;
    padding: 0 0 54px;
    max-height: 23px;
}
  
.modal__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
  
.modal__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 16.94pxpx;
    font-weight: 400;
    font-size: 14px;
    height: 27.26px;
}

.modal__input:last-of-type {
    margin-top: 29.75px;
}

.modal__button {
    /* margin-top: 48px; */
    background-color: #000;
    color: #fff;
    height: 50.15px;
    font-size: 18px;
    font-weight: 400px;
    line-height: 18px;
    border-radius: 5px;
}

.modal__button:hover {
    opacity: 0.6;
}
  
.modal__close {
    background-image: url(../Images/close-button-large.svg);
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
}

.modal__close:hover {
    opacity: 0.6;
}

.modal__preview-container {
    position: relative;
    margin: auto;
}

.modal__image {
    max-width: 75vw;
    max-height: 75vh;
}

.modal__text {
    color: white;
    font-family: "Inter", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
  
@media screen and (max-width: 680px) and (min-width: 320px) {
    .modal {
        padding: 0;
    }

    .modal__content {
        width: 282px;
        height: 322px;
        padding: 25px 22px;
        box-sizing: border-box;
    }
    .modal__close {
        height: 26px;
        fill: #fff;
        margin-bottom: 13.62px;
        margin-right: 18.62px;
        left: calc(100% - 25px);
        bottom: calc(100% + 20px);
    }

    .modal__heading {
        width: 100%;
        font-size: 18px;
        line-height: 22px;
    }

    .modal__input {
        width: 100%;
        max-width: 238px;
        line-height: 14px;
        font-weight: 400;
        font-size: 14px;
    }

    .modal__button {
        width: 100%;
        font-size: 14px;
        /* margin-top: 15px; */
        max-width: 238px;
    }
}