.page {
    background-color: black;
    font-family: "Inter", Arial, sans-serif;
    color: white;
}

.page__content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page__section {
    max-width: 880px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

@media (screen) and (max-width: 1280px){
    .page__content{
        max-width: 1280px;
        max-width: calc(100%-40px);
        
    }
}

/* @media screen and (max-width: 680px) {
    .page__section{
      max-width: calc(100%-40px);
    }
} */
  
@media screen and (max-width: 320px) {
    .page__content {
        max-width: 320px;
    }
}
