@import url(../vendor/fonts.css);
@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/profile.css);
@import url(../blocks/header.css);
@import url(../blocks/card.css);
@import url(../blocks/cards.css);

.footer{
    margin: 67px auto;
}

.footer__copyright{
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    color:#545454;
    font-size: 18px;
    width: 318px;
    height: 18px;
}



