@import url(../vendor/fonts.css);
@import url(../vendor/normalize.css);

.page {
    background-color: black;
    font-family: "Inter", Arial, sans-serif;
    color: white;
}

.page__content{
    display: flex; /*All the contents are placed in a single axis*/
    flex-direction: column;
    min-height: 100vh;
}

.page__section {
    max-width: 880px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.header {
    margin-top: 45px;
    width: 100%;
    height: 74px;
    border-bottom: 1px solid #545454;
}
  
.header__logo {
    width: 173px;
    height: 33px;
    margin: 0 auto 0;
}

.profile {
    display: flex; /*All the contents are placed in x-axis*/
    padding-top: 40px; /*154-74-45*/
    align-items: center;
    max-width: 880px;
    margin: 0 auto;
}

.profile__image {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    margin-right: 30px;
}

.profile__info {
    display: grid;
    grid-template-areas:
      "title button"
      "description description";
    grid-template-columns: minmax(auto, 415px) auto;
    gap: 7px 18px;
}

.profile__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    grid-area: title;
    margin: 0;
    max-width: 415px;
    margin-bottom: 7px;
}

.profile__edit-button {
    background: transparent url(../images/Pencil.png) center no-repeat;
    height: 24px;
    width: 24px;
    grid-area: button;
    border: solid #fff 1px;
    margin-top:15px;
    margin-bottom: 9px;
}

.profile__edit-button:hover {
    opacity: 60%;
    transition: 0.02s;
    cursor: pointer;
}

.profile__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    grid-area: description;
    max-width: 415px;
}

.profile__add-button {
    background: transparent url(../images/Add-button.png) center no-repeat;
    height: 50px;
    width: 150px;
    margin-left: auto;
    border: solid 2px #ffffff;
    border-radius: 2px;
}
  
.profile__add-button:hover {
    opacity: 60%;
    transition: 0.02s;
    cursor: pointer;
}
  

